/* background design credit: https://codepen.io/justynaj/pen/JEmxGb */
/* City input design based on: https://codepen.io/anna_blok/pen/eYYvxoK */

/* TODO: get rid of white border */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.App { 
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
	background: linear-gradient(
			180deg,
			rgba(248, 184, 139, 0) 20%,
			rgba(248, 184, 139, 0.1) 20%,
			rgba(248, 184, 139, 0.1) 40%,
			rgba(248, 184, 139, 0.2) 40%,
			rgba(248, 184, 139, 0.2) 60%,
			rgba(248, 184, 139, 0.4) 60%,
			rgba(248, 184, 139, 0.4) 80%,
			rgba(248, 184, 139, 0.5) 80%
		),
		linear-gradient(
			45deg,
			rgba(250, 248, 132, 0.3) 20%,
			rgba(250, 248, 132, 0.4) 20%,
			rgba(250, 248, 132, 0.4) 40%,
			rgba(250, 248, 132, 0.5) 40%,
			rgba(250, 248, 132, 0.5) 60%,
			rgba(250, 248, 132, 0.6) 60%,
			rgba(250, 248, 132, 0.6) 80%,
			rgba(250, 248, 132, 0.7) 80%
		),
		linear-gradient(
			-45deg,
			rgba(186, 237, 145, 0) 20%,
			rgba(186, 237, 145, 0.1) 20%,
			rgba(186, 237, 145, 0.1) 40%,
			rgba(186, 237, 145, 0.2) 40%,
			rgba(186, 237, 145, 0.2) 60%,
			rgba(186, 237, 145, 0.4) 60%,
			rgba(186, 237, 145, 0.4) 80%,
			rgba(186, 237, 145, 0.6) 80%
		),
		linear-gradient(
			90deg,
			rgba(178, 206, 254, 0) 20%,
			rgba(178, 206, 254, 0.3) 20%,
			rgba(178, 206, 254, 0.3) 40%,
			rgba(178, 206, 254, 0.5) 40%,
			rgba(178, 206, 254, 0.5) 60%,
			rgba(178, 206, 254, 0.7) 60%,
			rgba(178, 206, 254, 0.7) 80%,
			rgba(178, 206, 254, 0.8) 80%
		),
		linear-gradient(
			-90deg,
			rgba(242, 162, 232, 0) 20%,
			rgba(242, 162, 232, 0.4) 20%,
			rgba(242, 162, 232, 0.4) 40%,
			rgba(242, 162, 232, 0.5) 40%,
			rgba(242, 162, 232, 0.5) 60%,
			rgba(242, 162, 232, 0.6) 60%,
			rgba(242, 162, 232, 0.6) 80%,
			rgba(242, 162, 232, 0.8) 80%
		),
		linear-gradient(
			180deg,
			rgba(254, 163, 170, 0) 20%,
			rgba(254, 163, 170, 0.4) 20%,
			rgba(254, 163, 170, 0.4) 40%,
			rgba(254, 163, 170, 0.6) 40%,
			rgba(254, 163, 170, 0.6) 60%,
			rgba(254, 163, 170, 0.8) 60%,
			rgba(254, 163, 170, 0.8) 80%,
			rgba(254, 163, 170, 0.9) 80%
		);
	background-color: rgb(254, 163, 170);
	background-size: 100% 100%;
	min-height: 100%;
}

h1 {
	font-size: 2em;
	width: 70vw;
	padding-bottom: 20px;
	position: absolute;
	top: 25%;
	text-align: center;
}

select {
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition:.25s all ease;
}

.select:hover::after {
    color: #23b499;
}